/* 
    Created on : Oct 14, 2015, 4:09:42 PM
    Author     : maparrar
*/

.content{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
    .content #fotos{
        
    }
    .content #botones{
        bottom: 0;
        height: 40px;
        position: absolute;
        width: 100%;
    }
        .content #botones .boton{
            height: 40px;
            width: 100px;
        }
        .content #botones #atras{
            float: left;
        }
        .content #botones #inicio{
            margin: 0 auto;
            width: 50px;
        }
        .content #botones #creditos{
            float: right;
        }
    .content .foto{
        cursor: pointer;
    }

#carlos .lado{
    float: left;
    height: 100%;
    position: absolute;
    
}
    #carlos #izquierda{
        width: 25%;
    }
    #carlos #centro{
        left: 25%;
        width: 50%;
    }
        #carlos #centro #arriba{
            height: 60%;
        }
        #carlos #centro #abajo{
            height: 40%;
        }
    #carlos #derecha{
        right: 0;
        width: 25%;
    }
    
    #carlos .peque{
        height: 30%;
        margin: 40% 0;
    }
        #carlos .peque img{
            margin-left: 40%;
            width: 80%;
        }
        #carlos #guitarra{
            /*margin-left: 20%;*/
        }
        #carlos #guitarra img{
            margin-left: 0%;
            width: 56%;
        }
        #carlos #mike{
            height: 100%;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }
        #carlos #mike img{
            margin-left: 32%;
            width: 35%;
        }
        #carlos #muneco{
            height: 90%;
            margin-left: 10%;
            width: 80%;
        }
        #carlos #muneco img{
            margin: 0 25%;
            width: 50%;
        }













#images{
    float: left;
    height: 750px;
    width: 470px;
}
    #images .image{
        position: absolute;
    }


#buttons{
    float: left;
    height: 10px;
    width: 50px;
}
    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        cursor: pointer;
        font-family: Arial;
        color: #989cad;
        font-size: 30px;
        height: 30px;
        margin-left: 10px;
        margin-top: 355px;
        padding: 12px 5px 10px 5px;
        text-decoration: none;
        text-align: center;
    }
    .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

