/* 
    Created on : Oct 14, 2015, 4:09:42 PM
    Author     : maparrar
*/



#images{
    float: left;    
}
    #images .image{
        position: absolute;
    }


#buttons{
    float: left;
    height: 10px;
    padding: 20px;
    width: 200px;
}
    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        cursor: pointer;
        font-family: Arial;
        color: #989cad;
        font-size: 30px;
        margin-top: 320px;
        padding: 12px 5px 10px 5px;
        text-decoration: none;
        text-align: center;
    }
    .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }


